# Ch02.Python 데이터 처리

## 1. if 제어문

### 1.1 일반제어문

In [1]:
myscore = input('성적은 ')
myscore = int(myscore)

if (myscore >= 80):
    print( "잘했어요")
else:
    print("다음엔 더 열심히")

성적은 90
잘했어요

### 1.2 다중제어문

In [2]:
if (myscore >= 90):
    print('A')
elif (myscore >= 80):
    print('B')
else:
    print('C')

A

## 2. for 반복문

### 2.1 기본 반복문

In [3]:
cal=0
for i in range(101):
    cal += i
print(cal)

5050

### 2.2 리스트 이용

In [4]:
test = [1,2,3,4]

for i in test:
    print(i)

1
2
3
4

### 2.3 enumerate (인덱스 확인이 필요할때)

In [5]:
test = [1,2,3,4]

for i in enumerate(test):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)

## 3. 함수와 클래스

### 3.1 반환값이 없는 함수

In [6]:
def avg(x, y):
    print((x + y)/2)
    
avg(4, 5)

4.5

### 3.2 반환값이 있는 함수

In [7]:
def avg1(x, y):
    return((x + y)/2)

a = avg1(7,5)
print(a)

6.0

### 3.3 객체지향 클래스

In [8]:
class Cal():

    def __init__(self, x1, x2): # init: 초기값 세팅, self=자기객체를 의미
        self.x1 = x1
        self.x2 = x2
        
    def add(self):
        result = self.x1 + self.x2
        return result
    
    def sub(self):
        result = self.x1 - self.x2
        return result

In [9]:
cal1 = Cal(4,3)

print(cal1.add())
print(cal1.sub())

7
1

## 4. 데이터구조

### 4.1 리스트

In [10]:
num = [1, 2, 3, 4]
num

[1, 2, 3, 4]

In [11]:
# 인덱싱(0부터 시작)
num[0]

1

In [12]:
num[1:3]

[2, 3]

In [13]:
# 데이터 추가, 제거
num.append(5)
num

[1, 2, 3, 4, 5]

In [14]:
num.remove(5)
num

[1, 2, 3, 4]

In [15]:
min(num)

1

In [16]:
max(num)

4

### 4.2 튜플(tuple)

In [17]:
num = (1, 2, 3, 4)
num

(1, 2, 3, 4)

In [18]:
num[0]

1

In [19]:
min(num)

1

In [20]:
num.append(5)

AttributeError: 'tuple' object has no attribute 'append'

### 4.3 집합(set)

In [21]:
num = {1, 2, 3, 4}
num

{1, 2, 3, 4}

In [22]:
num.add(5)
num

{1, 2, 3, 4, 5}

In [23]:
num.add(4)
num

{1, 2, 3, 4, 5}

In [24]:
num.remove(5)
num

{1, 2, 3, 4}

In [25]:
num[0]

TypeError: 'set' object is not subscriptable

## 5. 넘파이 배열

### 5.1 Python list 이용

In [26]:
num1 = [1, 2, 3, 4]
num2 = [5, 6, 7, 8]
num = [num1, num2]
num

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [27]:
# 계산이 안됨
num1 + num2

[1, 2, 3, 4, 5, 6, 7, 8]

### 5.2 넘파이 배열

In [28]:
import numpy as np

num1 = np.array(num1)
num2 = np.array(num2)
num1

array([1, 2, 3, 4])

In [29]:
num1.sum()

10

In [30]:
num1.std()

1.118033988749895

In [31]:
num1 + num2

array([ 6,  8, 10, 12])

In [32]:
num = np.array([num1, num2])
num

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [33]:
# 배열의 행, 열 갯수 확인
num.shape

(2, 4)

### 5.3 넘파이 인덱싱

In [34]:
# 배열의 인덱싱
num[1,3]

8

In [35]:
# 배열 자르기(slicing[행,열])
num3 = num[:2, :2]
num3

array([[1, 2],
       [5, 6]])

In [36]:
# 배열 자르기(slicing[행,열])
num3 = num[0:, 1:]
num3

array([[2, 3, 4],
       [6, 7, 8]])

### 5.4 넘파이 함수

In [37]:
# 열기준으로 합계
num.sum(axis=0)

array([ 6,  8, 10, 12])

In [38]:
# 행기준으로 합계
num.sum(axis=1)

array([10, 26])

In [39]:
# 함수를 이용한 덧셈
np.add(num1, num2)

array([ 6,  8, 10, 12])

In [40]:
# 행렬의 곱(내적, 선형대수)
np.dot(num1, num2)

70

## 6. 판다스 배열

### 6.1 데이터 가져오기(dataframe)

In [41]:
import pandas as pd

df = pd.read_csv('grade.csv')
df.head()

   id  msex  csex  grade
0   1  Male     1      3
1   2  Male     1      4
2   3  Male     1      5
3   4  Male     1      3
4   5  Male     1      2

In [42]:
df = pd.DataFrame(df)
df.head()

   id  msex  csex  grade
0   1  Male     1      3
1   2  Male     1      4
2   3  Male     1      5
3   4  Male     1      3
4   5  Male     1      2

In [43]:
df.shape

(50, 4)

In [44]:
df.index

RangeIndex(start=0, stop=50, step=1)

In [45]:
# list(df.columns)
# df.columns.tolist()
df.columns

Index(['id', 'msex', 'csex', 'grade'], dtype='object')

In [46]:
df.values

array([[1, 'Male', 1, 3],
       [2, 'Male', 1, 4],
       [3, 'Male', 1, 5],
       [4, 'Male', 1, 3],
       [5, 'Male', 1, 2],
       [6, 'Male', 1, 5],
       [7, 'Male', 1, 4],
       [8, 'Male', 1, 4],
       [9, 'Male', 1, 3],
       [10, 'Male', 1, 2],
       [11, 'Male', 1, 5],
       [12, 'Male', 1, 4],
       [13, 'Male', 1, 4],
       [14, 'Male', 1, 3],
       [15, 'Male', 1, 5],
       [16, 'Male', 1, 4],
       [17, 'Male', 1, 4],
       [18, 'Male', 1, 1],
       [19, 'Male', 1, 2],
       [20, 'Male', 1, 2],
       [21, 'Male', 1, 4],
       [22, 'Male', 1, 3],
       [23, 'Male', 1, 4],
       [24, 'Male', 1, 3],
       [25, 'Male', 1, 4],
       [26, 'Female', 2, 4],
       [27, 'Female', 2, 3],
       [28, 'Female', 2, 4],
       [29, 'Female', 2, 1],
       [30, 'Female', 2, 4],
       [31, 'Female', 2, 4],
       [32, 'Female', 2, 2],
       [33, 'Female', 2, 3],
       [34, 'Female', 2, 5],
       [35, 'Female', 2, 4],
       [36, 'Female', 2, 3],
       [37, 'Female', 2, 4],
       [38, 'Female', 2, 4],
       [39, 'Female', 2, 3],
       [40, 'Female', 2, 4],
       [41, 'Female', 2, 3],
       [42, 'Female', 2, 3],
       [43, 'Female', 2, 2],
       [44, 'Female', 2, 4],
       [45, 'Female', 2, 3],
       [46, 'Female', 2, 4],
       [47, 'Female', 2, 5],
       [48, 'Female', 2, 4],
       [49, 'Female', 2, 3],
       [50, 'Female', 2, 3]], dtype=object)

### 6.2 판다스 함수

In [47]:
df.describe()

             id       csex      grade
count  50.00000  50.000000  50.000000
mean   25.50000   1.500000   3.460000
std    14.57738   0.505076   0.994064
min     1.00000   1.000000   1.000000
25%    13.25000   1.000000   3.000000
50%    25.50000   1.500000   4.000000
75%    37.75000   2.000000   4.000000
max    50.00000   2.000000   5.000000

In [48]:
df.sum(axis=0)

id                                                    1275
msex     MaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMa...
csex                                                    75
grade                                                  173
dtype: object

In [49]:
df.groupby('msex').mean()

          id  csex  grade
msex
Female  38.0   2.0   3.44
Male    13.0   1.0   3.48

In [50]:
# dataframe에서 행 선택하기
df.iloc[5]

id          6
msex     Male
csex        1
grade       5
Name: 5, dtype: object

In [51]:
# dataframe에서 열 선택하기
df.iloc[:, 1]

0       Male
1       Male
2       Male
3       Male
4       Male
5       Male
6       Male
7       Male
8       Male
9       Male
10      Male
11      Male
12      Male
13      Male
14      Male
15      Male
16      Male
17      Male
18      Male
19      Male
20      Male
21      Male
22      Male
23      Male
24      Male
25    Female
26    Female
27    Female
28    Female
29    Female
30    Female
31    Female
32    Female
33    Female
34    Female
35    Female
36    Female
37    Female
38    Female
39    Female
40    Female
41    Female
42    Female
43    Female
44    Female
45    Female
46    Female
47    Female
48    Female
49    Female
Name: msex, dtype: object

In [52]:
# column 삭제
df = df.drop('id', axis=1)
df.head()

   msex  csex  grade
0  Male     1      3
1  Male     1      4
2  Male     1      5
3  Male     1      3
4  Male     1      2

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sns.kdeplot(df.grade)
plt.show()

NameError: name 'df' is not defined

In [ ]:
sns.distplot(df.grade, kde=True, rug=True)
plt.show()

In [ ]:
sns.countplot(x="msex", data=df)
plt.show()

In [ ]:
sns.pairplot(df)
plt.show()

In [ ]:
sns.pairplot(df, hue="csex", markers=["o", "s"])
plt.show()

In [ ]:
iris = sns.load_dataset("iris")    # 붓꽃 데이터
sns.pairplot(iris)
plt.show()

In [ ]:
sns.pairplot(iris, hue="species", markers=["o", "s", "D"])
plt.show()